.block{
    width: 200px;
    height:200px;
    border:2px solid black;

}
.container{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4,25%);
   
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    gap: 5px;
}
  

/* }
@media screen and (max-width:1300px) 
{
.block{
    /* flex-direction: column;
    align-items:center; 
    /* width:100%; */
    /* width: 200px;
    */
/* 
}
} */ 
@media(max-width:768px){      /* for medium size screen*/
    .container{
         grid-template-columns:1fr 1fr;     /*two columns
        /* grid-template-rows:repeat(2,50%);    //two rows */
        grid-template-rows:1fr 1fr;   /*two rows*/
        
    }
}
@media(max-width:480px){         /*for small size screen*/
    .container{
        grid-template-columns:1fr;      /*1 columns*/
        
        grid-template-rows:repeat(4,25%);    /*4 rows*/
      
    }
}